body{
    font-family: helvetica;
    font-size: 11pt;
    background-color: white;
}

#header {
    height: 130px;

}

#content {
    margin-left: 70px;
    height: 550px;
}

#data {
    float: left;
}

#graph {
    float: left;
    height: 480px;
}

#footer {
    font-size: 10pt;
    //width: 800px;
	width: 100%;
    //margin-left: -400px;
    //left: 50%;
    //position: absolute;
    text-align: center;
}

textarea {
    resize: none;
    border: 1px solid #4F4F4F;
}

a:link 
{ 
 text-decoration:none;
 color: #000000;
}

a:visited {
  text-decoration:none;
  color: #000000;
}

.button {
    background-color: #E8E8E8;
    border-radius: 3px;
    height: 30px;
    width: 70px;
    border: 1px solid #4F4F4F;
    font-family: helvetica;
    font-size: 10pt;
}

.button:hover {
    cursor: pointer;
    background-color: #4F4F4F;
    color: #E8E8E8;
}

#button-save {
  height: 25px;
  width: 80px;
}

#cb_graph{
   -webkit-appearance: none;  /* Remove estilo padrão do Chrome */
   -moz-appearance: none; /* Remove estilo padrão do FireFox */
   appearance: none; /* Remove estilo padrão do FireFox*/
   background: url(../img/seta.gif) no-repeat #eeeeee;  /* Imagem de fundo (Seta) */
   background-position: 240px center;  /*Posição da imagem do background*/
   width: 270px; /* Tamanho do select, maior que o tamanho da div "div-select" */
   height:30px; /* Altura do select, importante para que tenha a mesma altura em todo os navegadores */
   border:1px solid #ddd;
}



