<div class="card mt-3 p-3">
    <div>
        <ul class="list-group-flush">
            <li class="list-group-item">
                <div class="row">

                    <div class="col-sm-2 preview">
                        <img src="./assets/img/udesc.png" class="image"/>
                    </div>
                    <div class="col-sm-8">
                        <div class="title">
                            LAIA &ndash; Laboratory of Artificial Intelligence and Algorithms
                        </div>
                        <div>
                            I am a computer scientist at the LAIA research group
                        </div>
                        <div class="card-text-div"> 
                            <span class="card-text">
                                Our group works on designing computer algorithms to solve a variety of problems in the context of artificial intelligence, machine learning and combinatorial optimization.
                            </span>
                        </div>
                        <div class="links">
                            <a href="https://github.com/laia-udesc" class="btn btn-sm z-depth-0" role="button" rel="external nofollow noopener" target="_blank">GitHub</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="card mt-3 p-3">
    <div>
        <ul class="list-group-flush">
            <li class="list-group-item">
                <div class="row">

                    <div class="col-sm-2 preview">
                        <img src="./assets/img/diss.jpg" class="image rad"/>
                    </div>
                    <div class="col-sm-8">
                        <div class="title">
                            Dissertations (PhD, MSc, BSc)
                        </div>
                        <div>
                            Here you can access the dissertations I produced during my academic life
                        </div>
                        <div class="card-text-div"> 
                            <span class="card-text">
                                They contain research challenges to work on! The complete texts are given below.
                            </span>
                        </div>
                        <div class="links">
                            <a href="./assets/pdf/Souza2022phd.pdf" class="btn btn-sm z-depth-0" role="button" rel="external nofollow noopener" target="_blank">PhD</a>
                            <a href="./assets/pdf/Souza2015msc.pdf" class="btn btn-sm z-depth-0" role="button" rel="external nofollow noopener" target="_blank">MSc</a>
                            <a href="./assets/pdf/Souza2013bsc.pdf" class="btn btn-sm z-depth-0" role="button" rel="external nofollow noopener" target="_blank">BSc</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>