<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div id="div-photo" class="col-md-3 div-photo">
        <img id="img-photo" src="./assets/img/marcelo.png" />
      </div>
      <div class="col-md-9 div-presentation">
        <h1 id="my-name" class="my-name display-3">Prof. Marcelo de Souza</h1>
        <p class="work">
          Professor at the Santa Catarina State University<br>
          Visiting researcher at the University of Manchester<br>
          PhD student at the Federal Univ. of Rio Grande do Sul
        </p>
        <span class="contact">Contact:</span><br>
        <span class="uom"><i class="fa fa-envelope-square uom" aria-hidden="true"></i></span> marcelo.desouza [at] udesc.br<br>
        <span class="uom"><i class="fa fa-envelope-square uom" aria-hidden="true"></i></span> bsi.marcelo [at] gmail.com<br>
        <span class="uom"><i class="fa fa-phone-square uom" aria-hidden="true"></i></span> +55 47 3357.8484
      </div>
    </div>
  </div>
</div>
