<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div id="div-photo" class="col-md-3 div-photo">
        <img id="img-photo" src="./assets/img/marcelo.png" />
      </div>
      <div class="col-md-8 div-presentation">
        <h1 id="my-name" class="my-name display-3">Prof. Marcelo de Souza</h1>
        <p class="name">
          Ph.D. in Computer Science<br>
          Associate professor at <a class="udesc" href = "https://www.udesc.br" target="_blank">Udesc</a>
        </p>
        
        <p class="topics">
          Algorithms, artificial intelligence, combinatorial optimization
        </p>
        
        <div class="contact">
          <span class="uom"><i class="fa-solid fa-square-envelope uom"></i></span> marcelo.desouza [at] udesc.br<br>
          <span class="uom"><i class="fa fa-phone-square uom"></i></span> +55 47 3357 8484
        </div>

        <div class="accesslist">
          <a href = "https://github.com/souzamarcelo" target="_blank"><i class="fa fa-github fa-lg access"></i></a>
          <a href = "https://scholar.google.com/citations?user=Mwsvl0MAAAAJ&hl=pt-BR" target="_blank"><i class="ai ai-google-scholar-square fa-lg access"></i></a>
          <a href = "https://www.researchgate.net/profile/Marcelo_De_Souza5" target="_blank"><i class="ai ai-researchgate-square fa-lg access"></i></a>
          <a href = "https://orcid.org/0000-0002-0786-2127" target="_blank"><i class="ai ai-orcid fa-lg access"></i></a>
          <a href = "http://lattes.cnpq.br/3816635191504545" target="_blank"><i class="ai ai-lattes fa-lg access"></i></a>
          <a href = "https://www.scopus.com/authid/detail.uri?authorId=57190739848" target="_blank"><i class="ai ai-scopus fa-lg access myscopus"></i></a>
          <a href = "https://br.linkedin.com/in/marcelo-de-souza-77a23b91" target="_blank"><i class="fa-brands fa-linkedin access accesslow"></i></a>
          <a href = "mailto:marcelo.desouza@udesc.br" target="_blank"><i class="fa-solid fa-square-envelope access accesslow"></i></a>
        </div>
      </div>
    </div>
  </div>
  <canvas id="jumbotron-anim"></canvas>
</div>

<script src="./assets/js/jumbotron.js"></script>
<script>
  startAnimation();
</script>
